<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">grid</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-grid style="background:#e0e0e0;">
    <ion-row style="height: 40px" center>
      <ion-col class="ion-text-end" size="2" style="background:#e0e0e0">
        <ion-icon name="chevron-back-outline" style="color:#4b4b4b" float-left></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; border-top-left-radius: 5px;
      /* centering styles for all */
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;
      ">
        8 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        9 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        10 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        11 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        12 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        13 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        14 Dec
      </ion-col>
      <!-- 2nd week -->
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        15 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        16 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        17 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        18 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        19 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        20 Dec
      </ion-col>
      <ion-col class="ion-text-center" style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        21 Dec
      </ion-col>
    </ion-row>

    <ion-row style="height: 40px;">
      <ion-col size="2" style="background:#e0e0e0; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        HABITS
      </ion-col>
      <!-- 1st week -->
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Su
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Mo
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Tu
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        We
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Th
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Fr
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Sa
      </ion-col>
      <!-- 2nd week -->
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Su
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Mo
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Tu
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        We
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Th
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Fr
      </ion-col>
      <ion-col style="background:#ffffff; color: #4b4b4b;
      justify-content: center;
	    display: flex!important;
 	    align-items: center!important;">
        Sa
      </ion-col>
    </ion-row>

    <ion-row style="height: 10%;">
      <ion-col size="2" style="background:#ffffff; color: #4b4b4b;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;;">
        meditate
      </ion-col>
      <ion-col style="background:#d3c8c8"></ion-col>
      <ion-col style="background:#d8b5b5"></ion-col>
      <ion-col style="background:#db8585"></ion-col>
      <ion-col style="background:#d46666"></ion-col>
      <ion-col style="background:#cf3d3d"></ion-col>
      <ion-col style="background:#d12222"></ion-col>
      <ion-col style="background:#810606"></ion-col>

      <ion-col style="background:#d3c8c8"></ion-col>
      <ion-col style="background:#d8b5b5"></ion-col>
      <ion-col style="background:#db8585"></ion-col>
      <ion-col style="background:#d46666"></ion-col>
      <ion-col style="background:#cf3d3d"></ion-col>
      <ion-col style="background:#d12222"></ion-col>
      <ion-col style="background:#810606"></ion-col>

    </ion-row>

    <ion-row style="height: 10%;">
      <ion-col size="2" style="background:#ffffff; color: #4b4b4b;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;">
        wakeup 7am
      </ion-col>
      <ion-col style="background:#db8585"></ion-col>
      <ion-col style="background:#d46666"></ion-col>
      <ion-col style="background:#cf3d3d"></ion-col>
      <ion-col style="background:#d12222"></ion-col>
      <ion-col style="background:#810606"></ion-col>
      <ion-col style="background:#d3c8c8"></ion-col>
      <ion-col style="background:#d8b5b5"></ion-col>

      <ion-col style="background:#d3c8c8"></ion-col>
      <ion-col style="background:#d8b5b5"></ion-col>
      <ion-col style="background:#db8585"></ion-col>
      <ion-col style="background:#d46666"></ion-col>
      <ion-col style="background:#cf3d3d"></ion-col>
      <ion-col style="background:#d12222"></ion-col>
      <ion-col style="background:#810606"></ion-col>

    </ion-row>

    <ion-row style="height: 30px;">
      <ion-col size="2" style="background:#ffffff; color: #4b4b4b;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;">
        abcde fgh ijkl m nopqr st uvw xyz
      </ion-col>
      <ion-col style="background:#d3c8c8"></ion-col>
      <ion-col style="background:#d8b5b5"></ion-col>
      <ion-col style="background:#db8585"></ion-col>
      <ion-col style="background:#d46666"></ion-col>
      <ion-col style="background:#cf3d3d"></ion-col>
      <ion-col style="background:#d3c8c8"></ion-col>
      <ion-col style="background:#d8b5b5"></ion-col>

      <ion-col style="background:#db8585"></ion-col>
      <ion-col style="background:#d46666"></ion-col>
      <ion-col style="background:#cf3d3d"></ion-col>
      <ion-col style="background:#d12222"></ion-col>
      <ion-col style="background:#810606"></ion-col>
      <ion-col style="background:#d3c8c8"></ion-col>
      <ion-col style="background:#d8b5b5"></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>